<!--  ********** HEADER SECTION ********** -->
<div id="h">
  <div class="container">
    <div class="row centered">
      <!--<h1>MDfashion</h1>-->
      <svg style="height: 180px;" version="1.2" baseProfile="tiny" id="Слой_1"
           xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 595.3 595.3"
           xml:space="preserve">
        <g>
          <path fill="#404041" d="M509.1,1c-20.7,0-37.5,16.8-37.5,37.5v34.1c-15.9-7.1-33.4-11.2-51.9-11.2c-31.3,0-59.9,11.4-82.1,30.3
		c-18.2-18-43.2-29.1-70.8-29.1c-24,0-46.1,8.5-63.4,22.5c-17.4-14.1-39.4-22.5-63.4-22.5C84.3,62.6,39,107.9,39,163.5v109.3
		c0,20.7,16.8,37.5,37.5,37.5c20.7,0,37.5-16.8,37.5-37.5V163.5c0-14.3,11.7-26,26-26c14.3,0,26,11.7,26,26V273
		c0,20.7,16.8,37.5,37.5,37.5c20.7,0,37.4-16.8,37.4-37.5V163.5c0-14.3,11.7-26,26-26c14.3,0,26,11.7,26,26v24.8
		c0,70,56.9,126.9,126.9,126.9c69.9,0,126.8-56.9,126.8-126.9V38.5C546.5,17.8,529.7,1,509.1,1 M419.7,240.2
		c-28.7,0-51.9-23.3-51.9-51.9c0-13.9,5.4-26.9,15.2-36.7c9.8-9.8,22.9-15.2,36.7-15.2c13.9,0,26.9,5.4,36.7,15.2
		c9.8,9.8,15.2,22.8,15.2,36.7C471.6,216.9,448.3,240.2,419.7,240.2"/>
          <g>
            <path fill="#404041" d="M124.4,399.3h25.9v2.8h-25.9v17.3h-3.5v-38.4h30.3v3h-26.8V399.3z"/>
            <path fill="#404041" d="M206.8,419.4l-5-9.4H175l-4.9,9.4h-3.7l20.2-38.3h3.8l20.2,38.3H206.8z M200.5,407.2l-12.1-23.3
			l-12.1,23.3H200.5z"/>
            <path fill="#404041" d="M257,388.5c-3.3-4.5-8.5-5.1-13.6-5.2c-5.3,0-13.6,1.6-13.6,7.8c0,4.9,6.2,6,13.8,7.2
			c8.7,1.4,17.7,2.7,17.7,11c-0.1,8.6-10.3,10.7-17.8,10.7c-7,0-15-2.5-18.4-8.3l3.1-1.3c2.8,4.7,9.8,6.9,15.4,6.9
			c5.5,0,14.3-1.3,14.3-8.1c0.1-5.7-7.4-7-14.8-8.2c-8.2-1.4-16.6-2.8-16.6-9.9c-0.2-8.1,9.7-10.6,17.1-10.6c6.4,0,12,0.9,16.5,6.5
			L257,388.5z"/>
            <path fill="#404041" d="M313,419.4V402h-28.7v17.4h-3.5v-38.3h3.5v18.2H313v-18.2h3.5v38.3H313z"/>
            <path fill="#404041" d="M338.6,419.4v-38.3h3.4v38.3H338.6z"/>
            <path fill="#404041" d="M408.9,400.3c-0.1,10.1-7.6,19.8-22.7,19.8c-15.1,0-22.7-9.7-22.7-19.9c0-10.3,7.5-19.7,22.7-19.7
			C401.4,380.5,409,389.9,408.9,400.3z M367,400.2c0.1,8.6,6.5,17.1,19.3,17.1c12.9,0,19.3-8.4,19.3-17.1c0-8.9-6.4-17-19.3-17
			C373.3,383.2,366.9,391.2,367,400.2z"/>
            <path fill="#404041" d="M430.9,381.1l30.3,31.7v-31.7h3.4v38.3h-1.4l-30.3-31.6v31.6h-3.5v-38.3H430.9z"/>
          </g>
          <g>
            <path fill="#404041" d="M292.7,472.5c-33.7,0-61.2,27.4-61.2,61.2c0,33.7,27.4,61.2,61.2,61.2c33.7,0,61.2-27.4,61.2-61.2
			C353.9,499.9,326.5,472.5,292.7,472.5 M292.7,589.5c-30.8,0-55.8-25-55.8-55.8c0-30.8,25-55.8,55.8-55.8c30.8,0,55.8,25,55.8,55.8
			C348.6,564.5,323.5,589.5,292.7,589.5"/>
            <path fill="#404041" d="M292.8,482.1c-28.5,0-51.6,23.1-51.6,51.6c0,28.5,23.2,51.6,51.6,51.6c28.5,0,51.6-23.2,51.6-51.6
			C344.4,505.2,321.2,482.1,292.8,482.1 M292.8,577.7c-24.3,0-44-19.7-44-44c0-24.3,19.7-44,44-44c24.3,0,44,19.7,44,44
			C336.8,557.9,317,577.7,292.8,577.7"/>
            <path fill="#404041" d="M314.3,523.4c0-3-2.4-5.5-5.4-5.5c-3,0-5.4,2.5-5.4,5.5c0,0.2,0,0.4,0.1,0.5l-10.6,9.7
			c0.1-0.2,0.1-0.5,0.1-0.7l-0.1-0.8l-11.2-11.3l-0.6-0.5h-0.1c-1-1.5-2.6-2.5-4.5-2.5c-3,0-5.4,2.5-5.4,5.5c0,3,2.4,5.5,5.4,5.5
			c0.7,0,1.4-0.1,2-0.4l8.6,8.7l0.6,0.5h0.6c0.1,0,0.2-0.1,0.3-0.1l-11.2,10.3c-0.1,0-0.1,0-0.2,0c-3,0-5.4,2.5-5.4,5.5
			c0,3,2.4,5.5,5.4,5.5c3,0,5.4-2.4,5.4-5.3l11.8-10.8c-0.1,0.2-0.1,0.4-0.1,0.7l0.1,0.8l8.2,8.3c-0.1,0.3-0.1,0.6-0.1,1
			c0,3,2.4,5.5,5.4,5.5c3,0,5.4-2.5,5.4-5.5c0-2.7-1.9-4.9-4.4-5.4l-8.8-8.9l-0.6-0.5H299c-0.1,0-0.2,0-0.3,0.1l10.7-9.9
			C312.2,528.5,314.3,526.2,314.3,523.4"/>
          </g>
        </g>
      </svg>

      <h2>Спасибо, Ваш аккаунт активирован!</h2>
      <h4>Войдите в Ваше приложение с логином и паролем,<br> указанными при регистрации!</h4>

      <!--<p><br/>-->
        <!--<a href="https://itunes.apple.com/us/app/kontrakty/id959297313?ls=1&mt=8" target="itunes_store" style="display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/htmlResources/assets/en_us//images/web/linkmaker/badge_appstore-lrg.png) no-repeat;width:135px;height:40px;@media only screen{background-image:url(https://linkmaker.itunes.apple.com/htmlResources/assets/en_us//images/web/linkmaker/badge_appstore-lrg.svg);}"></a>-->
      <!--</p>-->
    </div>
    <!--/row -->
  </div>
  <!-- /container -->
</div><!--/header-->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="/static/js/jquery.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/retina-1.1.0.js"></script>
<script src="/static/js/jquery.unveilEffects.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-1111111111-1', 'auto');
  ga('send', 'pageview');
</script>